import request from '@/utils/request'

export function list(query) {
    return request({
        url: '/${moduleName}/${pathName}/list',
        method: 'get',
        params: query
    })
}

export function info(id) {
    return request({
        url: '/${moduleName}/${pathName}/info/' + id,
        method: 'get'
    })
}

export function batchDelete(ids) {
    return request({
        url: '/${moduleName}/${pathName}/delete',
        method: 'post',
        params: { ids: ids }
    })
}

export function saveOrUpdate(data) {
    if (data.id == null || data.id === '') {
        return request({
            url: '/${moduleName}/${pathName}/save',
            method: 'post',
            data: data
        })
    } else {
        return request({
            url: '/${moduleName}/${pathName}/update',
            method: 'post',
            data: data
        })
    }
}