package ${package}.service.${moduleName}.impl;

import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import ${mainPath}.request.${moduleName}.${className}Request;

import ${package}.dao.${moduleName}.${className}Mapper;
import ${package}.entity.${moduleName}.${className};
import ${package}.service.${moduleName}.${className}Service;

import java.util.List;


@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Service {



    /**
     * 列表查询
     *
     * @param query 查询参数
     * @return
     */
    @Override
    public List<${className}> list(${className}Request query){

        QueryWrapper<${className}> wrapper = new QueryWrapper<>();
        #foreach ($column in $columns)
        #if($column.attrType == "String")
        wrapper.like(StrUtil.isNotBlank(query.get${column.attrName}()),"${column.columnName}", query.get${column.attrName}());
        #end
        #end

        return baseMapper.selectList(wrapper);
    }

}
